<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-12 text-center mb-4">
          <h3>Proyecto Final - ISO810 / ISO815</h3>
      </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Gestion de Clientes</h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-users-cog fa-5x text-primary"></i></h6>
          <a routerLink="/clientes" class="card-link btn btn-outline-primary">Acceder</a>
        </div>
      </div>
    </div>
    <div class="col text-center mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Gestion de Articulos</h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-users-cog fa-5x text-warning"></i></h6>
          <a routerLink="/articulos" class="card-link btn btn-outline-warning">Acceder</a>
        </div>
      </div>
    </div>
    <div class="col text-center mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Gestion de Vendedores</h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-users-cog fa-5x text-success"></i></h6>
          <a routerLink="/vendedores" class="card-link btn btn-outline-success">Acceder</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col text-center mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Facturacion</h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-users-cog fa-5x text-danger"></i></h6>
          <a routerLink="/facturacion" class="card-link btn btn-outline-danger">Acceder</a>
        </div>
      </div>
    </div>
    <div class="col text-center mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Consultas</h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-users-cog fa-5x text-dark"></i></h6>
          <a routerLink="/consultas" class="card-link btn btn-outline-dark">Acceder</a>
        </div>
      </div>
    </div>
    <div class="col text-center mb-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Interfaz de Contabilidad</h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="fas fa-users-cog fa-5x text-info"></i></h6>
          <a routerLink="/contabilidad" class="card-link btn btn-outline-info">Acceder</a>
        </div>
      </div>
    </div>
  </div>
</div>
