<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 text-center mb-4">
      <h3>Mantenimiento de Vendedores</h3>
    </div>
  </div>
  <button class="btn btn-outline-primary mb-1" data-toggle="modal" data-target="#addModal" (click)="openAddClient()">
    <em class="fas fa-user-plus fa-2x"></em>
  </button>
  <div class="row justity-content-center">
    <div class="col-12">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">RNC</th>
            <th scope="col">Cuenta Contable</th>
            <th scope="col">Estado</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let client of clientList">
            <td>{{client.Id}}</td>
            <td>{{client.Nombre}}</td>
            <td>{{client.Rnc}}</td>
            <td>{{client.CuentaContable}}</td>
            <td>{{client.Estado}}</td>
            <td>
              <button class="btn text-danger mr-2" (click)="deleteClient(client.Id)"><em
                  class="fas fa-minus-circle"></em></button>
              <button class="btn text-warning" (click)="openEditClient(client)" data-toggle="modal"
                data-target="#editModal"><em class="fas fa-edit"></em></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Agregar Cliente</h5>
      </div>
      <div class="modal-body row">
        <div class="form-group col-12">
          <label class="col-form-label">Nombre</label>
          <input type="text" placeholder="Nombre" class="form-control" [(ngModel)]="client.Nombre">
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">RNC</label>
          <input type="text" placeholder="RNC" class="form-control" [(ngModel)]="client.Rnc">
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">Cuenta Contable</label>
          <input type="text" placeholder="Cuenta Contable" class="form-control" [(ngModel)]="client.CuentaContable">
        </div>
        <div class="form-group col-12">
          <label class="col-form-label">Estado</label>

          <select class="form-control" [(ngModel)]="client.Estado">
            <option *ngFor="let method of estados" [value]="method.id">{{ method.label }}</option>>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="addClient()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Edit Modal -->
<div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Editar Cliente</h5>
      </div>
      <div class="modal-body row">
        <div class="form-group col-12">
          <label class="col-form-label">Nombre</label>
          <input type="text" placeholder="Nombre" class="form-control" [(ngModel)]="client.Nombre">
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">RNC</label>
          <input type="text" placeholder="RNC" class="form-control" [(ngModel)]="client.Rnc">
        </div>
        <div class="form-group col-6">
          <label class="col-form-label">Cuenta Contable</label>
          <input type="text" placeholder="Cuenta Contable" class="form-control" [(ngModel)]="client.CuentaContable">
        </div>
        <div class="form-group col-12">
          <label class="col-form-label">Estado</label>

          <select class="form-control" [(ngModel)]="client.Estado">
            <option *ngFor="let method of estados" [value]="method.id">{{ method.label }}</option>>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="editClient()">Guardar</button>
      </div>
    </div>
  </div>
</div>
